body { 
    background: url(../images/fondo2.jpg);
    image-resolution: 100px;
    }

  ul.navar  {
    background: rgb(7, 92, 202);
    margin: 0.5em 0;
    padding: 0.3em;
    text-align: left;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
    height: 100%;
    }
    a{
        color: rgb(176, 204, 53);
        text-align:center;
    }

    h1{
        color: rgb(221, 225, 247);
    }

footer{
    font-family: Georgia, "Times New Roman",
    Times, serif;
    color: rgb(22, 56, 209);
    text-align: center;
}
td{
    color: rgb(221, 225, 247);
    font-family: Georgia, "Times New Roman",
    Times, serif;
}
th{
    color: rgb(221, 225, 247);
    font-family: Georgia, "Times New Roman",
    Times, serif;
}
