body { 
    background: url(../images/fondo2.jpg);
    image-resolution: 100px;
    }

    table{
        align-content: center;
        border: rgb(31, 29, 29);
        width: 80%;
        height: 300px;
        border-collapse: collapse;
    }
 
  ul.navar  {
    background: rgb(7, 92, 202);
    margin: 0.5em 0;
    padding: 0.3em;
    text-align: left;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
    height: 100%;
    }

    a{
        color: rgb(176, 204, 53);
        text-align:center;
        text-decoration: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    h1{
        color: rgb(221, 225, 247);
    }


.mainform{
    display: grid;
    background: url(../images/pasaporte2.jpg);
    background-size: cover;
    background-attachment: fixed;
    grid-column: 1 /span 2;
    grid-row: 2;
    padding: 30px;
    justify-content: center;
}

.contenedorForm{
    display: block;
    width: 100%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  .formulario{
    background: rgba(70, 226, 91, 0.575);
    margin: 10%;
    padding: 10px;
    color: white;
  }
  
  .input{
    display: grid;
    font: size 10;
    width: 95%;
    padding: 10px;
    display: grid;
    grid-gap: 15px;
    line-height: 15px;
    justify-content: center;
  }
  
  .input input{
    padding: 1px;
  }
  
  .button{
    margin-bottom: 15px;
    background-color:  rgb(40, 196, 92);
    border: 1px solid rgb(85, 209, 68);
    padding: 10px;
    display: grid;
    grid-gap: 15px;
    line-height: 15px;
  }
  
  .button:hover {
    background-color: rgb(166, 238, 144);
    color: white;
    align-content: center;
  }


footer{
    font-family: Georgia, "Times New Roman",
    Times, serif;
    color: rgb(22, 56, 209);
    text-align: center;
}
td,th{
    color: rgb(221, 225, 247);
    font-family: Georgia, "Times New Roman",
    Times, serif;
}
